:root {
  --background: rgba(245, 247, 250, 1);

  --primary-normal: rgba(79, 160, 255, 1);
  --primary-light: rgba(79, 160, 255, 0.5);
  --primary-active: rgba(55, 130, 218, 1);

  --danger-normal: rgba(255, 79, 79, 1);
  --danger-light: rgba(255, 79, 79, 0.5);
  --danger-active: rgba(234, 49, 49, 1);
}

body {
  font-family: "Ubuntu", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}


.flex {
  display: flex;
}